<h4 class="center">Welcome <%=current_user.nil? ? '' : current_user.name%></h4>
<div class="main">
  <table>
    <%if current_user%>
    	<tr><td><%=link_to "Log out", logout_path, method: "delete"%></td></tr>
			<tr><td><%=link_to "New proposal", new_proposal_path%></td></tr>
			<tr><td><%=link_to "My proposals", proposals_path%>
				<%if @received_proposals > 0%>
				<span class="label label-inform"><%=@received_proposals%></span>
				<%end%>
			</td></tr>
			<tr><td><%=link_to "My responses", responses_path%>
				<%if @received_responses > 0%>
				<span class="label label-inform"><%=@received_responses%></span>
				<%end%>
			</td></tr>
	  <%else%>
	    <tr><td><%=link_to "Log in", login_path%></td></tr>
  	<%end%> 
  </table>
</div>