<h2>Welcome <%=current_user.nil? ? '' : current_user.name%></h2>
<%if current_user.nil?%>
  <%=link_to "Log in", login_path%>
<%else%>
  <%=link_to "Log out", logout_path, method: "delete"%><br>
	<%=link_to "Create new proposal", new_proposal_path%><br>
	<%=link_to "My proposals", proposals_path%><br>
	<s><%=link_to "Received responses", responses_path %></s>
	<b><%= num_unread_responses(current_user) %></b><br>
	<%=link_to "To be responded to", respondant_path%>
	<b><%= num_unreviewed_responses(current_user) %></b><br>
	<%=link_to "Send Mail", "/mailgun"%>
	
<%end%> 
