<h4 class="center">Respond to Proposal</h4>
<div class="form">
	<table border="0" cellspacing="0" cellpadding="2">
		<tr><th>Name</th></tr>
		<tr><td><%= @proposal.name %></td></tr>
		<tr><th>From</th></tr>
		<tr><td><%= @proposal.from_user.name %></td></tr>
		<tr><th>To</th></tr>
		<tr><td><%= @proposal.to_user.name %></td></tr>
		<tr><th>Description</th></tr>
		<tr><td><%= @proposal.description %></td></tr>
	</table>
  <%= form_for(@response) do |f|%>
	<div>
 	  <%= f.label :response %>
   	<%= f.text_area :body, style: "height:80px;resize:none;" %>
 	</div>
 	<br />
  <div class="btn-group-vertical btn-group">
 	  <%= f.submit "Send Response", class: "btn" %>
		<button class="btn"><%=link_to_function "Back", "history.back()"%></button>
  </div>
	<% end %>
</div>