<h4 class="center">Responses</h4>
<div class="main">
	<div class="tabbable">
	  <ul class="nav nav-tabs">
	    <li class="<%= params[:sent] == "true" ? '' : 'active'%>"><a href="#tab1" data-toggle="tab">Received</a></li>
	    <li class="<%= params[:sent] == "true" ? 'active' : ''%>"><a href="#tab2" data-toggle="tab">Sent</a></li>
	  </ul>
	  <div class="tab-content">
	    <div class="tab-pane <%= params[:sent] == "true" ? '' : 'active'%>" id="tab1">
				<table>
					<tr>
						<th align="left">ID</th>
						<th align="left">Proposal Name</th>
						<th align="left">From</th>
					</tr>
				<% @received.each do |proposal|%>
					<tr>
						<div>
							<td><%=proposal.id%></td>
							<td><%=link_to proposal.name, proposal%></td>
							<td><%=proposal.to_user.name%></td>
							<td>
								<% if !proposal.read %>
									<i class="icon-exclamation-sign"></i>
								<% end %>
							</td>
						</div>
					</tr>
				<%end%>
			</table>
	    </div>
	    <div class="tab-pane <%= params[:sent] == "true" ? 'active' : ''%>" id="tab2">
				<table>
					<tr>
						<th align="left">ID</th>
						<th align="left">Proposal Name</th>
						<th align="left">To</th>
					</tr>
				<% @sent.each do |proposal|%>
					<tr>
						<div>
							<td><%=proposal.id%></td>
							<td><%=link_to proposal.name, proposal%></td>
							<td><%=proposal.from_user.name%></td>
						</div>
					</tr>
				<%end%>
			</table>
	    </div>
	  </div>
	</div>
	<div class="btn-group">
		<%=link_to "Home", root_path, class: "btn"%>
	</div>
</div>