<div class="row">  
  <div class="span6 offset3">
    <h4 class="center">My Proposals</h4>
    <div class="main">
			<table>
				<tr>
					<th align="left">ID</th>
					<th align="left">Proposal Name</th>
					<th align="left">From</th>
				</tr>
			<% @proposals.each do |proposal|%>
				<% r = reviewed?(proposal) %>
				<tr>
					<div >
						<td class="<%= r %>" > <%=proposal.id%></td>
						<td class="<%= r %>" > <%=link_to proposal.name, proposal%></td>
						<td class="<%= r %>" ><%=proposal.from%></td>
					</div>
				</tr>
			<%end%>
			</table>
			<br/>
			<div class="btn-group">
				<%=link_to "Home", root_path, class: "btn"%>
			</div>
		</div>
  </div>
</div>