<div class="row">  
  <div class="span6 offset3">
    <h4 class="center">New Proposal</h4>
    <div class="form">
    <%= form_for(:proposal, url: proposals_path) do |f|%>
    <div>
      <%= f.label :name %>
      <%= f.text_field :name %>
			
			<%= f.label :to%>
			<%= collection_select(:proposal, :user_id, User.all, :id, :name) %>
			
      <%= f.label :description %>
      <%= f.text_area :description, style: "height:80px;resize:none;" %>
      <br />
      
			<div>
      	<%= f.submit "Create Proposal", class: "btn" %>
				<%=link_to "Back", root_path, class: "btn"%>
			</div>
    </div>
    <% end %>
    </div>
  </div>
</div>
