<div class="row">  
  <div class="span6 offset3">
    <h4 class="center">Respond to Proposal</h4>
    <div class="form">
    <div>
			<table border="0" cellspacing="0" cellpadding="2">
				<tr><th>Name</th></tr>
				<tr><td><%= @proposal.name %></td></tr>
				<tr><th>From</th></tr>
				<tr><td><%= @proposal.from %></td></tr>
				<tr><th>Description</th></tr>
				<tr><td><%= @proposal.description %></td></tr>
			</table>
	    <%= form_for(@proposal) do |f|%>
	  		<div>
	     	  <%= f.label :response %>
	      	<%= f.text_area :response, style: "height:80px;resize:none;" %>
	    	</div>
      	<br />
				<table border="0" cellspacing="0" cellpadding="2">
					<tr><td><%= f.submit "Send Response", class: "btn" %></td></tr>
					<tr><td><%=link_to_function "Back", "history.back()", class: "btn"%></td></tr>
				</table>
			<% end %>
    </div>

    </div>
  </div>
</div>
