<div class="row">  
  <div class="span6 offset3">
    <h4 class="center">Response</h4>
    <div class="form">
    <%= form_for @proposal do |f|%>
    <div>
     	<p>Name:
			<%= @proposal.name %></p>
			 <p>From:
			<%= @proposal.from %></p>
		  <p>To:
		  <%= get_username(@proposal.id) %></p>
			<p>Description:
			<%= @proposal.description %></p>
	    <%= form_for(@proposal) do |f|%>
      <%= f.label :read %>
      <%= @proposal.response_read %>
	    <div>
	      <%= f.label :response %>
	      <%= @proposal.response %>
			</div>
			<div class="btn-group">
				<%=link_to_function "Back", "history.back()", class: "btn"%>
				<%=link_to "Home", root_path, class: "btn"%>
			</div>
			<div class="btn-group">
				
			</div>
	    <% end %>
			
    </div>
    <% end %>
    </div>
  </div>
</div>
