    <h4 class="center">View Proposal</h4>
    <div class="form">
    <%= form_for @proposal do |f|%>
    <div>
			<table border="0" cellspacing="0" cellpadding="2">
				<tr><th>Proposal Name:</th></tr>
				<tr><td><%= @proposal.name %></td></tr>
				<tr><th>From:</th></tr>
				<tr><td><%= @proposal.from %></td></tr>
				<tr><th>Description:</th></tr>
				<tr><td><%= @proposal.description %></td></tr>
				<tr><th>Response:</th></tr>
				<tr><td><%= @proposal.response %></td></tr>
			</table>
			<br/>
			<table border="0" cellspacing="0" cellpadding="2">
				<tr><td><%=link_to "Back", proposals_path, class: "btn"%></td></tr>
				<tr><td><%=link_to "Home", root_path, class: "btn"%></td></tr>
			</table>
    </div>
    <% end %>
    </div>