<div class="row">  
  <div class="span6 offset3">
    <h4 class="center">New Proposal</h4>
    <div class="form">
    <%= form_for @proposal do |f|%>
    <div>
			<table border="0" cellspacing="0" cellpadding="0">
				<tr><th>Name</th></tr>
				<tr><td><%= @proposal.name %></td></tr>
				<tr><th>From</th></tr>
				<tr><td><%= @proposal.from %></td></tr>
				<tr><th>Description</th></tr>
				<tr><td><%= @proposal.description %></td></tr>
			</table>
	    <%= form_for(@proposal) do |f|%>
	    <div>
	      <%= f.label :response %>
	      <%= f.text_area :response, style: "height:80px;resize:none;" %>
	      <br />
				<div>
	      	<%= f.submit "Send Response", class: "btn" %>
					<%=link_to "Back", proposals_path, class: "btn"%>
				</div>
	    </div>
	    <% end %>
			
    </div>
    <% end %>
    </div>
  </div>
</div>
