<div class="row">  
  <div class="span6 offset3">
    <h4 class="center">Sent Proposal</h4>
		<div class="form">
    <div>
     	<p>Name:
				<%= @proposal.name %></p>
			<p>From:
				<%= @proposal.from %></p>
			<p>Description:
				<%= @proposal.description %></p>
			<p>Response:</p>
	    	<%= @proposal.response %><br /><br/>
			<div class="btn-group">
				<%=link_to_function "Back", "history.back()", class: "btn"%>
				<%=link_to "Home", root_path, class: "btn"%>
			</div>
		</div>	
    </div>
  </div>
</div>
