<!DOCTYPE html>
<html>
<head>
  <title>PracticeProposalApp</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
	<div class="navbar navbar-inverse navbar-fixed-top">
	  <div class="navbar-inner">
	    <div class="container">
	      <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
	        <span class="icon-bar"></span>
	        <span class="icon-bar"></span>
	        <span class="icon-bar"></span>
	      </button>
	      <%=link_to "Proposal Mobile", root_path, class:"brand"%>
	      <div class="nav-collapse in collapse" style="height: auto;">
	        <ul class="nav">
	          <li class="">
	            <%=link_to "Home", root_path%>
	          </li>
	          <li class="">
	            <%=link_to "My Proposals", proposals_path%>
	          </li>
	          <li class="">
	            <%=link_to "My Responses", responses_path%>
	          </li>
	          <li class="">
	            <%=link_to "Log Out", logout_path%>
	          </li>
	        </ul>
	      </div>
	    </div>
	  </div>
	</div>
	
  <div class="container">
		<% flash.each do |key, value| %>
		  <%= content_tag(:div, value, class: "alert alert-#{key}") %>
		<% end %>
		<div class="row">  
		  <div class="span6 offset3">
				<table class="table table-bordered">
					<tr><td>
    				<%= yield %>
					</td></tr>
				</table>
  		</div>
		</div>
  </div>
</body>
</html>
