<!DOCTYPE html>
<html>
<head>
  <title>PracticeProposalApp</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="container">
		<div id="header">
			<%= link_to(image_tag("logo_app.png", {:alt => 'Proposal', :id => 'logo'}), "#{ActionController::Base.relative_url_root}/") %>
		</div>
		<% flash.each do |key, value| %>
		  <%= content_tag(:div, value, class: "alert alert-#{key}") %>
		<% end %>
		<div class="row">  
		  <div class="span6 offset3">
				<table class="table table-bordered">
					<tr><td>
    				<%= yield %>
					</td></tr>
				</table>
  		</div>
		</div>
  </div>
</body>
</html>
