<html>
<head>
	<meta http-equiv="Content-type" content="text/html; charset=utf-8">
	<title>response_email.html</title>
</head>
<body>
	<h1>Proposal <%= @proposal.id %></h1>
	<table border="0" cellspacing="5" cellpadding="5">
		<tr>
			<td>Name: </td>							
			<td><%= @proposal.name %></td>
		</tr>
		<tr>
			<td>Created: </td>							
			<td><%= @time %></td>
		</tr>
		<tr>
			<td>From: </td>							
			<td><%= @proposal.from_user.name %></td>
		</tr>
		<tr>
			<td>Description: </td>			
			<td><%= @proposal.description %></td>
		</tr>
		<tr>
			<td>Response: </td>							
			<td><%= @proposal.response_body %></td>
		</tr>
	</table>
</body>
</html>